<%= form_for([@dish, @dish.orders.build], html:{class: "form-horizontal "}) do |f| %>

  <div class="field">
    <%= f.hidden_field :dish_id %>
  </div>



  <div class="field form-group">
    <%= f.label "电话号码", :class=>'col-sm-5 control-label text-white'%>

    <div class="col-sm-4">
      <%= f.number_field :phone_num, :class=>'form-control' %>
    </div>
  </div>



  <div class="actions col-sm-offset-3 col-sm-6">
    <br>
    <%= f.submit "Place Order", :class=>'btn btn-lg btn-danger btn-block'%>
  </div>





<% end %>
