
<div id="bg">
  <%= image_tag(@dish.ImageURL, class: "img-blur") %>
</div>



<div class="container">

 <div class="text-center">
 <%= image_tag(@dish.ImageURL, size: "400x360", class: "img-rounded img-centered") %>
 <br><br>
 </div>


 <form class="form-horizontal" role="form">

    <div class="form-group">
        <label class="col-sm-5 control-label text-white">Restaurant</label> 
        <p class="col-sm-5 text-align-left large-font-size"><%= @dish.restaurant %></p> 
    </div>

    <div class="form-group">
        <label class="col-sm-5 control-label text-white">Dish name</label> 
        <p class="col-sm-5 text-align-left large-font-size"><%= @dish.dish_name %></p> 
    </div>

    <div class="form-group">
       <label class="col-sm-5 control-label text-white">Price</label> 
        <p class="col-sm-5 text-align-left large-font-size"><%= @dish.price %></p> 
    </div>
 </form>
</div>

<!--
<p>
  <strong>Restaurant:</strong>
  <%= @dish.restaurant %>
</p>

<p>
  <strong>Dish name:</strong>
  <%= @dish.dish_name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @dish.price %>
</p>
-->
<div class='container'>
<%= render "orders/form" %>
</div>
<%= link_to 'Back', dishes_path %>
